# Exclude demo application and non-library assets from export (Packagist dist)
/api export-ignore
/demo export-ignore
/pages export-ignore
/Shared export-ignore
/services export-ignore
/routes.php export-ignore
/index.php export-ignore
/css export-ignore
/js export-ignore
/config export-ignore
/cache export-ignore
/.env export-ignore
/.env.example export-ignore
/.gitattributes export-ignore
/.htaccess export-ignore
/.gitignore export-ignore